@font-face {
    font-family: 'Karmatic Arcade';
    src: url('/KarmaticArcade.woff2') format('woff2'),
        url('/KarmaticArcade.woff') format('woff'),
        url('/KarmaticArcade.ttf') format('truetype'),
        url('/KarmaticArcade.svg#KarmaticArcade') format('svg');
    font-weight: normal;
    font-style: normal;
}

