@font-face {
    font-family: 'Karmatic Arcade';
    src: url('../schriften/KarmaticArcade.woff2') format('woff2'),
        url('../schriften/KarmaticArcade.woff') format('woff'),
        url('../schriften/KarmaticArcade.ttf') format('truetype'),
        url('../schriften/KarmaticArcade.svg#KarmaticArcade') format('svg');
    font-weight: normal;
    font-style: normal;
}

