@font-face {
    font-family: 'Karmatic Arcade';
    src: url('../schriften/KarmaticArcade.woff2') format('woff2'),
        url('../schriften/KarmaticArcade.woff') format('woff'),
        url('../schriften/KarmaticArcade.ttf') format('truetype'),
        url('../schriften/KarmaticArcade.svg#KarmaticArcade') format('svg');
    font-weight: normal;
    font-style: normal;
}

// @import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
@import url(https://fonts.googleapis.com/css?family=Monda:400,700);
