
// ===========================================
// TETROMINO COLORS
// ===========================================

$j_background_color: #f3a683;
$j_border_color: #f19066;

$i_background_color: #feca57;
$i_border_color: #ff9f43;

$l_background_color: #c8d6e5;
$l_border_color: #8395a7;

$o_background_color: #ff9ff3;
$o_border_color: #f368e0;

$s_background_color: #1dd1a1;
$s_border_color: #10ac84;

$t_background_color: #ff6b6b;
$t_border_color: #ee5253;

$z_background_color: #48dbfb;
$z_border_color: #0abde3;
