@import './schriftarten';
@import './variablen';


body {
    background: #eee;
    font-family: 'Monda', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Karmatic Arcade';
}

h2 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #95a5a6;
    font-size: 2.2em;
    .punkte {
        color: #34495e;
    }
}

#seite {
    width: 90%;
    margin: 60px auto;
}

#tetris {
    background: #34495e;
    border: 10px solid #95a5a6;
    width: auto;
    display: inline-block;
    position: relative;
    .modal {
        color: #ecf0f1;
        position: absolute;
        padding: 30px 60px;
        background: #34495e;
        width: 200px;
        text-align: center;
        top: 80px;
        margin-left: 50%;
        transform: translateX(-50%);
        box-shadow: 1px 1px 2px 3px #7f8c8d;
        h3 {
            margin-top: 0;
        }
        button {
            outline: 0;
            border: 0;
            color: #2c3e50;
            background-color: #ecf0f1;
            padding: 8px 16px;
            font-size: 1.3em;
        }
    }
}

#menu {
    display: inline-block;
    vertical-align: top;
    width: 400px;
    margin-left: 30px;
}

#vorschau, #gest {
    background: #34495e;
    border: 10px solid #95a5a6;
    display: inline-block;
    position: relative;
    margin: auto;
    width: auto;
    margin-top: 16px;
}

#gest {
    width: 480px;
    height: 320px;
}

#steuerung {
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    margin-left: 10px;
}

#tetris-song {
    display: none;
}


/****************************************************************/
/**    TETROMINOS                                              **/
/****************************************************************/

.container {
    display: flex;
    justify-content: space-between;
}

.spalte {
    width: calc(50% - 20px);
}

.welt {
    text-align: right;
}

.beschreibung {
    padding: 1px 30px;
    background-color: rgba(149, 165, 166, .2);
    margin-bottom: 15px;
}

.raster {
    background: #34495e;
    border: 10px solid #95a5a6;
    display: inline-block;
    position: relative;
    margin: auto;
    width: auto;
}

.btn {
    outline: 0;
    border: 0;
    color: #ecf0f1;
    background-color: #3498db;
    padding: 8px 16px;
    font-size: 1.3em;
    width: calc(50% - 20px);
    margin-right: 10px;
    margin-bottom: 10px;

    &:hover {
        background-color: #2980b9;
    }

    &.hell {
        color: #2c3e50;
        background-color: #ecf0f1;
    }
}

.eingabe {
    outline: 0;
    border: 1px solid #ecf0f1;
    padding: 8px 10px;
    font-size: 1.3em;
    width: calc(50% - 20px);
    margin-right: 10px;
    margin-bottom: 10px;
    &:focus {
        border-color: #2980b9;
    }
}

.eingabe-beschreibung {
    display: block;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
}

.tetro {
    display: inline-grid;
    outline-offset: inherit;
    border-width: 10px;
    border-style: inset;
    border-color: #34495E;
    width: 20px;
    height: 20px;
    margin: 0;
    opacity: 0.3;

    &.complete, &.gefuellt {
        background-color: #fff;
        border-color: #bbb;
        border-style: ridge;
        opacity: 1;
    }

    &.J {
        background-color: $j_background_color;
        border-color: $j_border_color;
    }

    &.I {
        background-color: $i_background_color;
        border-color: $i_background_color;
    }

    &.L {
        background-color: $l_background_color;
        border-color: $l_background_color;
    }

    &.O {
        background-color: $o_background_color;
        border-color: $o_background_color;
    }

    &.S {
        background-color: $s_background_color;
        border-color: $s_background_color;
    }

    &.T {
        background-color: $t_background_color;
        border-color: $t_background_color;
    }

    &.Z {
        background-color: $z_background_color;
        border-color: $z_background_color;
    }

    
}

